.header {
  padding: 58px 0;

  @include media(sm) {
    padding: 24px 0;
  }

  .container {
    display: flex;
    align-items: center;

    @include media(sm) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-right: 40px;

    @include media(sm) {
      margin-right: 40px;
    }
  }

  &__nav {
    max-width: 272px;
    width: 100%;
    margin: 0 auto;

    &-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &-item {

      &:hover {

        > a {
          color: var(--color-primary);
        }
      }
    }

    @include media(sm) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      height: 100vh;
      background-color: var(--color-bg);
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: transform .4s;
      z-index: var(--z-index-menu);

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition: transform .4s;

      }

      &-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      &-item {
        font-size: 20px;
        margin-bottom: 24px;
        text-align: center;
      }
    }
  }
  
  &__burger {
    display: none;
    
    @include media(sm) {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;

      span {
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 6px;
        background-color: var(--color-white);
      }

      &.active {

        span {
          display: none;

          &:first-of-type {
            position: absolute;
            display: block;
            transform: rotate(45deg);
            top: 4px;
            transition: transform .4s;
          }

          &:last-of-type {
            position: absolute;
            display: block;
            transform: rotate(-45deg);
            top: 4px;
            transition: transform .4s;
          }
        }

        z-index: var(--z-index-modal);
      }
    }
  }
}